{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Qazyna — Мир дверей и сантехники.{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h1>Qazyna</h1>
            <div class="cards">
                <div class="card">
                    <h2>Обновите свой дом</h2>
                    <p>Повысьте комфорт вашего жилья с нашей современной сантехникой и надежными дверями.</p>
                    <a href="#" class="button">Services</a>
                </div>
                <div class="card">
                    <h2>Удобство и стиль</h2>
                    <p>Откройте для себя идеальное сочетание функциональности и эстетики для вашего дома.</p>
                    <a href="#" class="button">Services</a>
                </div>
                <div class="card">
                    <h2>Качество и надежность</h2>
                    <p>Погрузитесь в мир высококачественных товаров, которые обеспечивают долговечность и стиль.</p>
                    <a href="#" class="button">Services</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

